In [4]:
import pandas as pd

In [5]:
df = pd.read_stata('data.dta')
df.head(20
       )

,credits1,credits2,credits_earned1,credits_earned2,session1,winter_ac_standing,GPA_year1,GPA_year2,CGPA_year1,CGPA_year2,...,hsgrade_pct,veryhighHS,highHS,lowHS,maleXhighHS,femaleXhighHS,maleXlowabil,femaleXlowabil,clustervar,summer
0,2.50,2.50,2.50,2.50,20029,OKAY,3.82,3.94,3.82,3.88,...,91,1.0,1.0,0.0,1.0,0.0,0.0,0.0,2.32,0.0
1,3.25,2.25,3.25,2.25,20019,OKAY,3.64,3.66,3.64,3.65,...,94,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.14,0.0
2,3.00,3.50,3.00,3.00,20009,OKAY,1.95,1.61,1.95,1.80,...,65,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.45,1.0
3,2.50,3.50,2.50,3.50,20039,OKAY,3.44,3.46,3.44,3.45,...,76,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.94,0.0
4,2.00,0.00,1.50,0.00,19969,OKAY,2.18,NaN,2.18,NaN,...,39,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.68,0.0
5,3.00,3.50,3.00,3.50,20039,OKAY,3.49,3.25,3.49,3.37,...,97,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.99,0.0
6,2.00,3.00,2.00,3.00,19989,OKAY,3.78,3.41,3.78,3.58,...,72,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.28,1.0
7,3.00,4.00,3.00,4.00,19989,OKAY,3.23,NaN,3.23,NaN,...,22,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.73,0.0
8,2.50,2.50,1.50,2.50,19989,PROB,0.74,2.23,0.74,1.45,...,12,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-0.76,0.0
9,3.00,3.50,3.00,3.50,20039,OKAY,3.23,3.09,3.23,3.16,...,70,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.73,0.0
10,2.50,2.50,2.50,2.50,20039,OKAY,2.34,1.91,2.34,2.14,...,17,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.84,0.0
11,2.50,2.50,2.50,2.50,20039,OKAY,2.48,2.88,2.48,2.68,...,51,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.98,0.0
12,2.50,3.00,2.50,3.00,19979,OKAY,3.66,3.82,3.66,3.74,...,97,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.16,0.0
13,6.00,3.00,6.00,3.00,20029,OKAY,3.48,3.78,3.48,3.78,...,9,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.88,0.0
14,2.50,2.50,2.50,2.50,19969,OKAY,2.30,2.78,2.30,2.54,...,35,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.80,0.0
15,3.00,3.00,3.00,3.00,20019,OKAY,2.92,2.54,2.92,2.76,...,81,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.42,0.0
16,3.50,4.00,3.50,4.00,20019,OKAY,2.73,2.68,2.73,2.71,...,41,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.23,0.0
17,2.50,3.00,2.50,3.00,19999,OKAY,3.20,3.31,3.20,3.25,...,15,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.60,0.0
18,3.00,2.50,3.00,2.50,19989,OKAY,2.78,3.22,2.78,3.00,...,5,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.28,0.0
19,3.00,4.00,3.00,4.00,20029,OKAY,2.30,2.27,2.30,2.28,...,35,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.80,0.0

In [4]:
df.shape

(44362, 86)

In [5]:
df.describe()

,credits1,credits2,credits_earned1,credits_earned2,session1,GPA_year1,GPA_year2,CGPA_year1,CGPA_year2,totcredits_year1,...,hsgrade_pct,veryhighHS,highHS,lowHS,maleXhighHS,femaleXhighHS,maleXlowabil,femaleXlowabil,clustervar,summer
count,44362.000000,44362.000000,44362.000000,44362.000000,44362.000000,44362.000000,38576.000000,44362.000000,38576.000000,44362.000000,...,44362.000000,44362.000000,44362.000000,44362.000000,44362.000000,44362.000000,44362.000000,44362.000000,44362.000000,44362.000000
mean,2.799726,2.804214,2.622442,2.683501,20007.543573,2.437401,2.550520,2.437410,2.531765,4.573160,...,50.173256,0.244714,0.498557,0.501443,0.178080,0.320477,0.204702,0.296740,0.913172,0.337203
std,0.715258,1.237743,0.835906,1.287028,23.548698,0.892371,0.833679,0.891981,0.767567,0.511146,...,28.858879,0.429973,0.500002,0.500002,0.382627,0.466631,0.403532,0.456763,0.898926,0.472757
min,1.000000,0.000000,0.000000,0.000000,19969.000000,0.000000,0.000000,0.000000,0.000000,3.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.600000,0.000000
25%,2.500000,2.500000,2.000000,2.000000,19989.000000,1.850000,2.040000,1.850000,2.010000,4.000000,...,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.320000,0.000000
50%,2.500000,3.000000,2.500000,3.000000,20009.000000,2.500000,2.630000,2.500000,2.560000,5.000000,...,50.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.980000,0.000000
75%,3.000000,3.500000,3.000000,3.500000,20029.000000,3.100000,3.170000,3.100000,3.100000,5.000000,...,75.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.580000,1.000000
max,11.000000,13.000000,11.000000,10.500000,20039.000000,4.300000,4.300000,4.300000,4.300000,6.500000,...,100.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.800000,1.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44362 entries, 0 to 44361
Data columns (total 86 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   credits1               44362 non-null  float32
 1   credits2               44362 non-null  float32
 2   credits_earned1        44362 non-null  float32
 3   credits_earned2        44362 non-null  float32
 4   session1               44362 non-null  int16
 5   winter_ac_standing     44362 non-null  object
 6   GPA_year1              44362 non-null  float32
 7   GPA_year2              38576 non-null  float32
 8   CGPA_year1             44362 non-null  float32
 9   CGPA_year2             38576 non-null  float32
 10  totcredits_year1       44362 non-null  float32
 11  totcredits_year2       43593 non-null  float32
 12  goodstanding_year1     44362 non-null  int8
 13  goodstanding_year2     44362 non-null  int8
 14  winter_ac_stand_year1  44362 non-null  object
 15  winter_ac_stand_year2  44362 non-null  object
 16  fallreg_year1          44362 non-null  int8
 17  fallreg_year2          44362 non-null  int8
 18  act_fallreg_year1      44362 non-null  object
 19  act_fallreg_year2      44362 non-null  object
 20  summerreg_year1        44362 non-null  int8
 21  summerreg_year2        44362 non-null  int8
 22  sex                    44362 non-null  object
 23  mtongue                44362 non-null  object
 24  identifier             44362 non-null  int32
 25  age_at_entry           44362 non-null  float32
 26  bpl_north_america      44362 non-null  float32
 27  bpl_asia               44046 non-null  float32
 28  canadian               44362 non-null  float32
 29  bpl_other              44362 non-null  float32
 30  firstyear              44362 non-null  int16
 31  yearstodegree          21730 non-null  float32
 32  gradin4                30017 non-null  float32
 33  gradin5                24581 non-null  float32
 34  gradin6                19757 non-null  float32
 35  gradin4orcont          30170 non-null  float32
 36  cumcredits1            44362 non-null  float32
 37  cumcredits2            44362 non-null  float32
 38  prog_science           26650 non-null  float32
 39  prog_socsci_bus        26650 non-null  float32
 40  prog_socscihum         26650 non-null  float32
 41  prog_unknown           44362 non-null  float32
 42  english                44362 non-null  float32
 43  noenglish              44362 non-null  float32
 44  french                 44362 non-null  float32
 45  other_lang             44362 non-null  float32
 46  female                 44362 non-null  float32
 47  male                   44362 non-null  float32
 48  gpacutoff              44362 non-null  float32
 49  dist_from_cut          44362 non-null  float32
 50  year2_dist_from_cut    38576 non-null  float32
 51  CGPA_final             19224 non-null  float32
 52  nextGPA                40582 non-null  float32
 53  nextCGPA               40582 non-null  float32
 54  probation_year1        44362 non-null  float32
 55  probation_year2        38979 non-null  float32
 56  probation_summer1      44362 non-null  float32
 57  probation_summer2      38979 non-null  float32
 58  probation_ever         44362 non-null  float32
 59  suspended_year1        44362 non-null  float32
 60  suspended_summer1      44362 non-null  float32
 61  suspended_year2        38979 non-null  float32
 62  suspended_summer2      38979 non-null  float32
 63  suspended_ever         44362 non-null  float32
 64  loc_campus1            44362 non-null  float32
 65  loc_campus2            44362 non-null  float32
 66  loc_campus3            44362 non-null  float32
 67  all                    44362 non-null  float32
 68  left_school            44362 non-null  float32
 69  gpalscutoff            44362 non-null  float32
 70  gpaXgpalscutoff        44362 non-null  float32
 71  gpaXgpagrcutoff        44362 non-null  float32
 72  gpasqXgpagrcutoff      44362 non-null  float32
 73  dist_from_cut_med10    44362 non-null  float32
 74  dist_from_cut_med05    44362 non-null  float32
 75  dist_from_cut_med025   44362 non-null  float32
 76  hsgrade_pct            44362 non-null  int8
 77  veryhighHS             44362 non-null  float32
 78  highHS                 44362 non-null  float32
 79  lowHS                  44362 non-null  float32
 80  maleXhighHS            44362 non-null  float32
 81  femaleXhighHS          44362 non-null  float32
 82  maleXlowabil           44362 non-null  float32
 83  femaleXlowabil         44362 non-null  float32
 84  clustervar             44362 non-null  float32
 85  summer                 44362 non-null  float32
dtypes: float32(69), int16(2), int32(1), int8(7), object(7)
memory usage: 15.0+ MB

In [6]:
#leaving data of students whose first year GPA is not in the range (-1.4, 1.4) from cut-off
sample14 = df[abs(df['dist_from_cut']) <= 1.4]
sample14.shape

(29601, 86)

In [7]:
# printing descriptive statictics table (for characteristics variables)

sample14[['hsgrade_pct', 'totcredits_year1', 'age_at_entry', 'male', 'english', 'bpl_north_america', 'loc_campus1', 'loc_campus2', 'loc_campus1']].describe()

,hsgrade_pct,totcredits_year1,age_at_entry,male,english,bpl_north_america,loc_campus1,loc_campus2,loc_campus1
count,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000
mean,40.130333,4.494933,18.703423,0.376913,0.720955,0.873720,0.528462,0.195095,0.528462
std,25.392563,0.523730,0.735467,0.484619,0.448512,0.332154,0.499172,0.396310,0.499172
min,1.000000,3.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,4.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,38.000000,4.500000,19.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000
75%,60.000000,5.000000,19.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,100.000000,6.000000,21.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [39]:
# printing descriptive statistics table (for outcomes variable)

sample14[['dist_from_cut','probation_year1', 'probation_ever','left_school', 'nextGPA', 'suspended_ever','gradin4', 'gradin5', 'gradin6']].describe()

,dist_from_cut,probation_year1,probation_ever,left_school,nextGPA,suspended_ever,gradin4,gradin5,gradin6
count,29601.000000,29601.000000,29601.000000,29601.000000,26834.000000,29601.000000,20353.000000,16710.000000,13587.000000
mean,0.477412,0.225432,0.279180,0.051586,0.712986,0.113206,0.367808,0.619090,0.709281
std,0.650022,0.417845,0.448612,0.221225,0.841622,0.316796,0.482213,0.485619,0.454093
min,-1.400000,0.000000,0.000000,0.000000,-1.600000,0.000000,0.000000,0.000000,0.000000
25%,0.050000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000
50%,0.590000,0.000000,0.000000,0.000000,0.800000,0.000000,0.000000,1.000000,1.000000
75%,1.000000,0.000000,1.000000,0.000000,1.300000,0.000000,1.000000,1.000000,1.000000
max,1.400000,1.000000,1.000000,1.000000,2.800000,1.000000,1.000000,1.000000,1.000000

In [8]:
sample14['nextGPA'].describe()

count    26834.000000
mean         0.712986
std          0.841622
min         -1.600000
25%          0.200000
50%          0.800000
75%          1.300000
max          2.800000
Name: nextGPA, dtype: float64

In [9]:
sample14['probation_year1'].describe()

count    29601.000000
mean         0.225432
std          0.417845
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: probation_year1, dtype: float64